<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438612959348-u0pa9hsqsdj4hlb8vcno0n99ml0v2ebe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438612959348-u0pa9hsqsdj4hlb8vcno0n99ml0v2ebe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438612959348-2akd4kkn1ujvd321pp34kelndm6lnlvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtyTS8VjbkEYkN-9Cb1u3Kfi4X6lYGduk</string>
	<key>GCM_SENDER_ID</key>
	<string>438612959348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singlegrocery.driver</string>
	<key>PROJECT_ID</key>
	<string>single-vendor-b6ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>single-vendor-b6ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:438612959348:ios:7d790bea46a2d74df9f121</string>
</dict>
</plist>
